:root {
    /* 다크모드 기본 색상 */
    --background-default: #212121;
    --background-paper: #303030;
    --divider-color: #3a3a3a;
    --text-primary: #b4b4b4;
    --text-secondary: #888888;
    --btn-primary: #404040;
    --btn-hover: #5a5a5a;
    --btn-select: #606060;
    --slot-primary: #1b1b1b;


    /* 추가 색상 */
    --starforce-color: #ffc200;
    --starforce-background: rgb(160, 123, 1);

    /* 장비 등급 */
    --legendary: #00ff00;
    --legendary-back: rgb(1, 151, 1);
    --unique: #ffcc00;
    --unique-back: rgb(147, 118, 0);
    --epic: #cc66ff;
    --epic-back: rgb(108, 53, 135);
    --rare: #60fcf8;
    --rare-back: rgb(52, 137, 135);
    --basic: #e6e6e6;

    /* 펫 등급 */
    --luna-petit: #9663c8;
    --luna-sweat: #c3509d;
    --luna-dream: #00ccff;

    /* 아티팩트 등급 */
    --artifact-max: #6D62A1;
    --artifact: #198ca8;

    /* 보스 난이도 색상 */
    --checked-border: #3e8e41;
    --checked-shadow: #4CAF5066;
    --boss-easy-back: #888888;
    --boss-easy-back-hov: #707070;

    --boss-normal-back: #22a4b4;
    --boss-normal-back-hov: #197e8a;

    --boss-chaos-back: #333333;
    --boss-chaos-back-hov: #1b1b1b;
    --boss-chaos-border: #ddbb88;

    --boss-hard-back: #c44373;
    --boss-hard-back-hov: #b43363;

    --boss-extreme-back: #333333;
    --boss-extreme-back-hov: #1b1b1b;
    --boss-extreme-border: #e43363;
    --boss-extreme-font1: #d47323;
    --boss-extreme-font2: #e44353;


}

/* 전체 배경 */
body {
    background-color: var(--background-default);
    color: var(--basic);
}

/* 캐릭터 전체 박스 */
.box-container {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--background-paper);
    border-radius: 8px;
    border: 1px solid var(--divider-color);
}

/* 장비 카드 */
.equip-card {
    width: 100%;
    height: 120px;
    padding: 1rem;
    align-content: center;
    background-color: var(--background-paper);
    border-radius: 8px;
    border: 1px solid var(--divider-color);
}

.equip-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.equip-info {
    display: flex;
    flex-direction: column;
}

.equip-img-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/* 장비 이미지 */
.equip-img {
    width: auto;
    height: auto;
    max-width: 100%;
    align-self: center;
}

/* 스타포스 라벨 */
.starforce-label {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: var(--starforce-background);
    color: var(--starforce-color);
    font-size: 0.75rem;
}

/* 옵션 등급별 라벨 */
.equip-label {
    display: inline-flex;
    align-items: center;
    /*padding: 1px 6px;*/
    font-size: 0.75rem;
}

/* 등급별 배경 + 글자색 클래스 */
.grade-legendary {
    color: var(--legendary);
}

.grade-legendary-back {
    background-color: var(--legendary-back);
}

.grade-unique {
    color: var(--unique);
}

.grade-unique-back {
    background-color: var(--unique-back);
}

.grade-epic {
    color: var(--epic);
}

.grade-epic-back {
    background-color: var(--epic-back);
}

.grade-rare {
    color: var(--rare);
}

.grade-rare-back {
    background-color: var(--rare-back);
}

.character-name {
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.stat-header {
    font-size: 12px;
    font-weight: 800;
    color: var(--text-primary);
}

/* 스탯 라벨 */
.stat-label {
    font-weight: 600;
    color: var(--text-primary);
}

/* 스탯 값 */
.stat-value {
    font-weight: 400;
    font-size: 14px;
    color: white;
}

/* 텍스트 구분선 */
.divider {
    display: inline-block;
    width: 1px;
    height: 8px;
    background: var(--text-primary);
}

/* 프리셋  버튼*/
.preset-btn {
    background-color: var(--btn-primary);
    color: var(--text-secondary);
    border: 1px var(--btn-primary) solid;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 800;
    padding: 3px;
    text-align: center;
}

.preset-btn:hover {
    background-color: var(--btn-hover);
    border: 1px var(--btn-hover) solid;
}

.preset-btn.active {
    background-color: var(--btn-select);
    border: 1px var(--btn-select) solid;
    color: white;
}



/* 네비게이션&탭 버튼 */
.nav-btn {
    background-color: var(--btn-primary);
    color: var(--text-secondary);
    border: 1px var(--btn-primary) solid;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 800;
    padding: 8px 60px;
    text-align: center;
}

.nav-btn:hover {
    background-color: var(--btn-hover);
    border: 1px var(--btn-hover) solid;
}

.nav-btn.active {
    background-color: var(--btn-select);
    border: 1px var(--btn-select) solid;
    color: white;
}

/* 캐시 카드 */
.cash-card-partname {
    font-weight: 600;
    font-size: 15px;
    color: var(--text-secondary);
}

.cash-card-itemname {
    font-weight: 800;
}

.cash-card-prism {
    font-size: 10px;
    color: var(--text-secondary);
}

/* 펫 */
.pet-img-wrapper {
    background-color: var(--slot-primary);
    border-radius: 8px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pet-img {
    width: auto;
    height: auto;
    max-width: 100%;
    align-self: center;
}

.pet-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.pet-info {
    display: flex;
    flex-direction: column;
}

.pet-grade {
    font-size: 12px;
}

.pet-name {
    font-weight: 800;
}

.pet-equip-effect {
    font-size: 12px;
    color: var(--text-primary);
}

.grade-luna-petit {
    color: var(--luna-petit);
}

.grade-luna-sweat {
    color: var(--luna-sweat);
}

.grade-luna-dream {
    color: var(--luna-dream);
}


/* 스킬 */
.skill-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--divider-color);
    border-radius: 8px;
    background-color: var(--slot-primary);
    padding: 5px;
    align-items: center;
    width: 70px;
    height: 100px;
}

.skill-icon-wrapper {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.skill-name {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
    padding: 0px 4px;
    text-align: center;
}

/* 유니온 아티팩트 */
.artifact-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--divider-color);
    border-radius: 8px;
    background-color: var(--slot-primary);
    padding: 5px;
    align-items: center;
}

.artifact-wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.artifact-label {
    font-size: 12px;
}

.artifact-grade-max {
    color: var(--artifact-max);
}

.artifact-grade {
    color: var(--artifact);
}

/* 유니온 레이더 */
.raider-con {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 308px;
    height: 280px;
    background: var(--slot-primary);
}
.raider-img {
    width: 308px;
    height: 280px;
    z-index: 2;
}

.raider-cell {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #c49a6c;
}

.raider-stat-name {
    position: absolute;
    font-size: 10px;
    font-weight: 800;
    text-align: center;
}

.raider-stat {
    display: list-item;
    font-size: 12px;
}


/* fullcalendar 커스텀 */
.fc-event {
    background-color: rgba(255,255,255,0);
    border: none;
    color: white;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
}



/* 다이어리 */
.diary-calendar {
    min-height: 700px;
}


.diary-content {
    background-color: #3a3a3a;
    border-radius: 8px ;
    padding: 8px 6px;
}

.diary-header {
    font-weight: 600;
    font-size: 30px;
}

.meso-text {
    font-size: 12px;
    font-weight: 600;
}

.diary-img-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* 숫자 입력 필드에서 스핀 버튼 제거 (크롬/엣지/사파리 등) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* 파이어폭스 */
}

.hidden {
    display: none; !important;
}

/* 보스 기록 */
.boss-img-con {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

/* easy */
.boss-level-easy-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    text-align: center;
    user-select: none;
    background-color: var(--boss-easy-back);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.boss-level-easy-btn:hover {
    background-color: var(--boss-easy-back-hov);
    cursor: pointer;
}

.btn-check:checked + .boss-level-easy-btn {
    background-color: var(--boss-easy-back);
    color: white;
    border-color: var(--checked-border);
    box-shadow: 0 0 0 0.2rem var(--checked-shadow);
}

.btn-check:checked + .boss-level-easy-btn:hover {
    background-color: var(--boss-easy-back-hov);
    border-color: var(--checked-border);
    box-shadow: 0 0 0 0.2rem var(--checked-shadow);
}

/* normal */
.boss-level-normal-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    text-align: center;
    user-select: none;
    background-color: var(--boss-normal-back);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.boss-level-normal-btn:hover {
    background-color: var(--boss-normal-back-hov);
    cursor: pointer;
}

.btn-check:checked + .boss-level-normal-btn {
    background-color: var(--boss-normal-back);
    color: white;
    border-color: var(--checked-border);
    box-shadow: 0 0 0 0.2rem var(--checked-shadow);
}

.btn-check:checked + .boss-level-normal-btn:hover {
    background-color: var(--boss-normal-back-hov);
    border-color: var(--checked-border);
    box-shadow: 0 0 0 0.2rem var(--checked-shadow);
}

/* chaos */
.boss-level-chaos-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    text-align: center;
    user-select: none;
    background-color: var(--boss-chaos-back);
    border: 2px solid var(--boss-chaos-border);
    color: var(--boss-chaos-border);
    font-size: 20px;
    font-weight: 600;
}

.boss-level-chaos-btn:hover {
    background-color: var(--boss-chaos-back-hov);
    cursor: pointer;
}

.btn-check:checked + .boss-level-chaos-btn {
    background-color: var(--boss-chaos-back);
    color: white;
    border-color: var(--checked-border);
    box-shadow: 0 0 0 0.2rem var(--checked-shadow);
}

.btn-check:checked + .boss-level-chaos-btn:hover {
    background-color: var(--boss-chaos-back-hov);
    border-color: var(--checked-border);
    box-shadow: 0 0 0 0.2rem var(--checked-shadow);
}

/* hard */
.boss-level-hard-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    text-align: center;
    user-select: none;
    background-color: var(--boss-hard-back);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.boss-level-hard-btn:hover {
    background-color: var(--boss-hard-back-hov);
    cursor: pointer;
}

.btn-check:checked + .boss-level-hard-btn {
    background-color: var(--boss-hard-back);
    color: white;
    border-color: var(--checked-border);
    box-shadow: 0 0 0 0.2rem var(--checked-shadow);
}

.btn-check:checked + .boss-level-hard-btn:hover {
    background-color: var(--boss-hard-back-hov);
    border-color: var(--checked-border);
    box-shadow: 0 0 0 0.2rem var(--checked-shadow);
}

/* extreme */
.boss-level-extreme-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    text-align: center;
    user-select: none;
    background-color: var(--boss-extreme-back);
    border: 2px solid var(--boss-chaos-border);
    color: var(--boss-extreme-font2);
    font-size: 20px;
    font-weight: 600;
}

.boss-level-extreme-btn:hover {
    background-color: var(--boss-extreme-back-hov);
    cursor: pointer;
}

.btn-check:checked + .boss-level-extreme-btn {
    background-color: var(--boss-extreme-back);
    color: var(--boss-extreme-font2);
    border-color: var(--checked-border);
    box-shadow: 0 0 0 0.2rem var(--checked-shadow);
}

.btn-check:checked + .boss-level-extreme-btn:hover {
    background-color: var(--boss-extreme-back-hov);
    border-color: var(--checked-border);
    box-shadow: 0 0 0 0.2rem var(--checked-shadow);
}