:root {
    /* 다크모드 기본 색상 */
    --background-default: #212121;
    --background-paper: #303030;
    --divider-color: #3a3a3a;
    --text-primary: #b4b4b4;
    --text-secondary: #888888;
    --btn-primary: #404040;
    --btn-hover: #5a5a5a;
    --btn-select: #606060;

    /* 추가 색상 */
    --starforce-color: #ffc200;
    --starforce-background: rgb(160, 123, 1);

    --legendary: #00ff00;
    --legendary-back: rgb(1, 151, 1);
    --unique: #ffcc00;
    --unique-back: rgb(147, 118, 0);
    --epic: #cc66ff;
    --epic-back: rgb(108, 53, 135);
    --rare: #60fcf8;
    --rare-back: rgb(52, 137, 135);
    --basic: #e6e6e6;
}

/* 전체 배경 */
body {
    background-color: var(--background-default);
    color: var(--basic);
}

/* 캐릭터 전체 박스 */
.character-container {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--background-paper);
    border-radius: 8px;
    border: 1px solid var(--divider-color);
}

/* 장비 카드 */
.equip-card {
    width: 100%;
    height: 120px;
    padding: 1rem;
    align-content: center;
    background-color: var(--background-paper);
    border-radius: 8px;
    border: 1px solid var(--divider-color);
}

.equip-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.equip-info {
    display: flex;
    flex-direction: column;
}

.equip-img-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/* 장비 이미지 */
.equip-img {
    width: auto;
    height: auto;
    max-width: 100%;
    align-self: center;
}

/* 스타포스 라벨 */
.starforce-label {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: var(--starforce-background);
    color: var(--starforce-color);
    font-size: 0.75rem;
}

/* 옵션 등급별 라벨 */
.equip-label {
    display: inline-flex;
    align-items: center;
    /*padding: 1px 6px;*/
    font-size: 0.75rem;
}

/* 등급별 배경 + 글자색 클래스 */
.grade-legendary {
    color: var(--legendary);
}

.grade-legendary-back {
    background-color: var(--legendary-back);
}

.grade-unique {
    color: var(--unique);
}

.grade-unique-back {
    background-color: var(--unique-back);
}

.grade-epic {
    color: var(--epic);
}

.grade-epic-back {
    background-color: var(--epic-back);
}

.grade-rare {
    color: var(--rare);
}

.grade-rare-back {
    background-color: var(--rare-back);
}

.character-name {
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.stat-header {
    font-size: 12px;
    font-weight: 800;
    color: var(--text-primary);
}

/* 스탯 라벨 */
.stat-label {
    font-weight: 600;
    color: var(--text-primary);
}

/* 스탯 값 */
.stat-value {
    font-weight: 400;
    font-size: 14px;
    color: white;
}

/* 텍스트 구분선 */
.divider {
    display: inline-block;
    width: 1px;
    height: 8px;
    background: var(--text-primary);
}

/* 프리셋  버튼*/
.preset-btn {
    background-color: var(--btn-primary);
    color: var(--text-secondary);
    border: 1px var(--btn-primary) solid;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 800;
    padding: 3px;
    text-align: center;
}

.preset-btn:hover{
    background-color: var(--btn-hover);
    border: 1px var(--btn-hover) solid;
}

.preset-btn.active{
    background-color: var(--btn-select);
    border: 1px var(--btn-select) solid;
    color: white;
}

/* 네비게이션&탭 버튼 */
.nav-btn {
    background-color: var(--btn-primary);
    color: var(--text-secondary);
    border: 1px var(--btn-primary) solid;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 800;
    padding: 8px 60px;
    text-align: center;
}

.nav-btn:hover {
    background-color: var(--btn-hover);
    border: 1px var(--btn-hover) solid;
}

.nav-btn.active {
    background-color: var(--btn-select);
    border: 1px var(--btn-select) solid;
    color: white;
}

/* 캐시 카드 */
.cash-card-partname {
    font-weight: 600;
    font-size: 15px;
    color: var(--text-secondary);
}

.cash-card-itemname {
    font-weight: 800;
}

.cash-card-prism {
    font-size: 10px;
    color: var(--text-secondary);

}

/*!* 뱃지 *!*/
/*.badge {*/
/*    color: var(--text-primary);*/
/*    background-color: var(--text-secondary);*/
/*    border-radius: 4px;*/
/*}*/
